
.logo {
  
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -85px;
    top: -20px;
    line-height: 103px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 122px;
    width: 200px;
    z-index: 100;
   
      border-radius:50%;    
      -webkit-transition: -webkit-transform .8s ease-in-out;
      -ms-transition: -ms-transform .8s ease-in-out;
      transition: transform .8s ease-in-out;
      
      }

  .logo:hover{
      transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
  }


.sidepanel {
    height: 350px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .bg-dark1 {
    background-color: #111;
    height: 51px;
    width: 100%;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: black;

    transition: all 1.5s;
    
    
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    padding: 9rem;
    
}





.panel-blue:hover {
  transform: translate(0px, -10px);
  box-shadow: 0px 10px 50px rgb(0, 0, 0);
  transition: width 2s;
}


.panel p, .panel .fa {
  text-align: center;
}

.panel:last-child {
  margin-right: 0;
} 

.panel-blue {
  background-color: rgb(255, 255, 255);
    width: 309px;
    height: 445px;
}

.fa{
      background-color: white;
}

.panel .fa {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.fa:before {
  color: black;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.flip-box {
  background-color: transparent;
  width: 1000px;
  height: 525px;
  padding: 100px;
  margin-left: 140px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.container-fluid {
  width: 100%;
  padding-right: 24px;
  padding-left: 170px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluids {
  width: 100%;
  padding-right: 26px;
  padding-left: 170px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 68px;
  padding-top: 100px;
}

.row {
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 55px;
}

.bg-image {
  /* The image used */
  background-image: url("photographer.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.table-dark {
  color: #fff;
  background-color: #212529;
  width: 400;
  height:200;
}
table:hover {
  background-color: #c55f18;
}
img:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.containe {
  position: relative;
  width: 45%;
  margin-left: 45px;
  margin-bottom: 123px;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #16596f;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.containe:hover .overlay {
  width: 100%;
  left: 0;
}

.text6 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


.containerz {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 50px;
  margin: 16px 0
}

.containerz::after {
  content: "";
  clear: both;
  display: table;
}

.containerz img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.containerz span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .containerz {
      text-align: center;
  }
  .containerz img {
      margin: auto;
      float: none;
      display: block;
  }
}




